body{
    background-color:lightcyan;
    
}
.header{
    background-color:darkcyan;
    height:150px;
}
.footer{
    background-color:darkcyan;
    height:90px;
    margin-top:50px;
}
.content-container{
    background-color:lightcyan;
    margin-top:70px;
    height:fit-content;
}
.list{
    background-color: white;
    height:150px;
    margin-top:20px;
}
.up{
    display:flex;
    flex-flow:row;
    margin-top:20px;
    margin-left:10px;
    
}
.up p{
    margin-right:10px;
}
.mid{
    margin-left:10px;
}
@media (max-width:770px){
    .list{
        height:fit-content;
    }
}
/*.first{
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    height:150px;
    margin-top:70px;
    border-radius: 5px;
}
.first:hover{
    border-left:5px solid darkcyan;
}
.first img{
    margin-left:30px;
    margin-top:30px;
}
.first .content .up{
    display:flex;
    flex-flow:row;
}
.first .content{
    margin-left:150px;
    margin-top:-110px;
}
.first .content .up .one{
    border:1px solid darkcyan;
}
.first .content .up .two {
    border:1px solid black;
}
.first .content .up p{
    color:darkcyan;
}
.first .content .up .one{
    border-radius:8px;
    background-color: darkcyan;
    color:white;
    height:20px;
    margin-top:15px;
    margin-left:10px;
}
.first .content .up .two{
    border-radius:8px;
    background-color: black;
    color:white;
    height:20px;
    margin-top:15px;
    margin-left:10px;
}
.parenttooltip{
    position:absolute;
    background:brown;
    height:200px;
    margin-top:40px;
}
.first .content .mid{
    margin-top:-20px;
}
/*.first .content .mid ul{
    margin-top:-40px;
}*/
/*.first .content .mid h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.first .content .down1 p{
    color:grey;
}
.first .buttons {
    float:right;
    margin-top:-75px;
    margin-right:20px;
}
.first .buttons button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color:lightcyan;
    color:darkcyan;
}
.first .buttons button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}

.second{
    width:70%;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    margin-top:35px;
    background-color:white;
}
.second:hover{
    border-left :5px solid darkcyan;
}
.second img{
    margin-left:30px;
    margin-top:30px;
}
.second .content .up{
    display:flex;
    flex-flow:row;
}
.second .content{
    margin-left:150px;
    margin-top:-110px;
}
.second .content .up .one{
    border:1px solid darkcyan;
}
.second .content .up .two {
    border:1px solid black;
}
.second .content .up p{
    color:darkcyan;
}
.second .content .up .one{
    border-radius:8px;
    background-color: darkcyan;
    color:white;
    height:20px;
    margin-top:15px;
    margin-left:10px;
}
.second .content .up .two{
    border-radius:8px;
    background-color: black;
    color:white;
    height:20px;
    margin-top:15px;
    margin-left:10px;
}
.second .content .mid2{
    margin-top:-20px;
}
/*.second .content .mid2 ul{
    margin-top:-40px;
}*/
/*.second .content .mid2 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.second .content .down2 p{
    color:grey;
}
.second .buttons2 {
    float:right;
    margin-top:-75px;
    margin-right:20px;
}
.second .buttons2 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color:lightcyan;
    color:darkcyan;
}
.second .buttons2 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}

.third{
    width:70%;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    margin-top:35px;
    background-color:white;
}
.third:hover{
    border-left :5px solid darkcyan;
}
.third img{
    margin-left:30px;
    margin-top:30px;
}
.third .content .up{
    display:flex;
    flex-flow:row;
}
.third .content{
    margin-left:150px;
    margin-top:-110px;
}
.third .content .up .one{
    border:1px solid darkcyan;
}
.third .content .up p{
    color:darkcyan;
}
.third .content .up .one{
    border-radius:8px;
    background-color: darkcyan;
    color:white;
    height:20px;
    margin-top:15px;
    margin-left:10px;
}
.third .content .mid3{
    margin-top:-20px;
}
.third .content .mid3 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.third .content .down3 p{
    color:grey;
}
.third .buttons3 {
    float:right;
    margin-top:-75px;
    margin-right:20px;
}
.third .buttons3 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color:lightcyan;
    color:darkcyan;
}
.third .buttons3 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}
.fourth{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    height:150px;
    margin-top:35px;
    border-radius: 5px;
}
.fourth:hover{
    border-left:5px solid darkcyan;
}
.fourth img{
    margin-left:30px;
    margin-top:30px;
}
.fourth .content .up{
    display:flex;
    flex-flow:row;
}
.fourth .content{
    margin-left:150px;
    margin-top:-110px;
}
.fourth .content .up p{
    color:darkcyan;
}
.fourth .content .mid4{
    margin-top:-20px;
}
.fourth .content .mid4 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.fourth .content .down4 p{
    color:grey;
}
.fourth .buttons4 {
    float:right;
    margin-top:-80px;
    margin-right:20px;
}
.fourth .buttons4 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color: lightcyan;
    color:darkcyan;
}
.fourth .buttons4 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}
.fifth{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    height:150px;
    margin-top:35px;
    border-radius: 5px;
}
.fifth:hover{
    border-left:5px solid darkcyan;
}
.fifth img{
    margin-left:30px;
    margin-top:30px;
}
.fifth .content .up{
    display:flex;
    flex-flow:row;
}
.fifth .content{
    margin-left:150px;
    margin-top:-110px;
}
.fifth .content .up p{
    color:darkcyan;
}
.fifth .content .mid5{
    margin-top:-20px;
}
.fifth .content .mid5 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.fifth .content .down5 p{
    color:grey;
}
.fifth .buttons5 {
    float:right;
    margin-top:-80px;
    margin-right:20px;
}
.fifth .buttons5 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color: lightcyan;
    color:darkcyan;
}
.fifth .buttons5 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}
.sixth{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    height:150px;
    margin-top:35px;
    border-radius: 5px;
}
.sixth:hover{
    border-left:5px solid darkcyan;
}
.sixth img{
    margin-left:30px;
    margin-top:30px;
}
.sixth .content .up{
    display:flex;
    flex-flow:row;
}
.sixth .content{
    margin-left:150px;
    margin-top:-110px;
}
.sixth .content .up p{
    color:darkcyan;
}
.sixth .content .mid6{
    margin-top:-20px;
}
.sixth .content .mid6 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.sixth .content .down6 p{
    color:grey;
}
.sixth .buttons6 {
    float:right;
    margin-top:-80px;
    margin-right:20px;
}
.sixth .buttons6 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color: lightcyan;
    color:darkcyan;
}
.sixth .buttons6 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}
.seventh{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    height:150px;
    margin-top:35px;
    border-radius: 5px;
}
.seventh:hover{
    border-left:5px solid darkcyan;
}
.seventh img{
    margin-left:30px;
    margin-top:30px;
}
.seventh .content .up{
    display:flex;
    flex-flow:row;
}
.seventh .content{
    margin-left:150px;
    margin-top:-110px;
}
.seventh .content .up p{
    color:darkcyan;
}
.seventh .content .mid7{
    margin-top:-20px;
}
.seventh .content .mid7 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.seventh .content .down7 p{
    color:grey;
}
.seventh .buttons7 {
    float:right;
    margin-top:-80px;
    margin-right:20px;
}
.seventh .buttons7 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color: lightcyan;
    color:darkcyan;
}
.seventh .buttons7 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}
.eigth{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    height:150px;
    margin-top:35px;
    border-radius: 5px;
}
.eigth:hover{
    border-left:5px solid darkcyan;
}
.eigth img{
    margin-left:30px;
    margin-top:30px;
}
.eigth .content .up{
    display:flex;
    flex-flow:row;
}
.eigth .content{
    margin-left:150px;
    margin-top:-110px;
}
.eigth .content .up p{
    color:darkcyan;
}
.eigth .content .mid8{
    margin-top:-20px;
}
.eigth .content .mid8 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.eigth .content .down8 p{
    color:grey;
}
.eigth .buttons8 {
    float:right;
    margin-top:-80px;
    margin-right:20px;
}
.eigth .buttons8 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color: lightcyan;
    color:darkcyan;
}
.eigth .buttons8 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}
.ninth{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    height:150px;
    margin-top:35px;
    border-radius: 5px;
}
.ninth:hover{
    border-left:5px solid darkcyan;
}
.ninth img{
    margin-left:30px;
    margin-top:30px;
}
.ninth .content .up{
    display:flex;
    flex-flow:row;
}
.ninth .content{
    margin-left:150px;
    margin-top:-110px;
}
.ninth .content .up p{
    color:darkcyan;
}
.ninth .content .mid9{
    margin-top:-20px;
}
.ninth .content .mid9 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.ninth .content .down9 p{
    color:grey;
}
.ninth .buttons9 {
    float:right;
    margin-top:-80px;
    margin-right:20px;
}
.ninth .buttons9 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color: lightcyan;
    color:darkcyan;
}
.ninth .buttons9 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}
.tenth{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
    height:150px;
    margin-top:35px;
    border-radius: 5px;
}
.tenth:hover{
    border-left:5px solid darkcyan;
}
.tenth img{
    margin-left:30px;
    margin-top:30px;
}
.tenth .content .up{
    display:flex;
    flex-flow:row;
}
.tenth .content{
    margin-left:150px;
    margin-top:-110px;
}
.tenth .content .up p{
    color:darkcyan;
}
.tenth .content .mid10{
    margin-top:-20px;
}
.tenth .content .mid10 h2:hover{
    color:darkcyan;
    cursor:pointer;
}
.tenth .content .down10 p{
    color:grey;
}
.tenth .buttons10 {
    float:right;
    margin-top:-80px;
    margin-right:20px;
}
.tenth .buttons10 button{
    border:lightcyan 1px solid;
    border-radius:8px;
    background-color: lightcyan;
    color:darkcyan;
}
.tenth .buttons10 button:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;

}
.footer{
        background-color:darkcyan;
        width:100%;
        height:90px;
        margin-top:50px;
        margin-bottom:0;
}
.tenthdiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-400px;

}
.tenthul{
    list-style-type: none;
    margin-top:30px;

}
.tenthlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.tenthclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.tenthclear:hover{
    text-decoration: underline;
}
.ninthdiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-550px;

}
.ninthul{
    list-style-type: none;
    margin-top:30px;

}
.ninthlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.ninthclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.ninthclear:hover{
    text-decoration: underline;
}
.eigthdiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-750px;

}
.eigthul{
    list-style-type: none;
    margin-top:30px;

}
.eigthlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.eigthclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.eigthclear:hover{
    text-decoration: underline;
}

.seventhdiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-950px;

}
.seventhul{
    list-style-type: none;
    margin-top:30px;

}
.seventhlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.seventhclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.seventhclear:hover{
    text-decoration: underline;
}
.sixthdiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-1100px;

}
.sixthul{
    list-style-type: none;
    margin-top:30px;

}
.sixthlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.sixthclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.sixthclear:hover{
    text-decoration: underline;
}
.fifthdiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-1300px;

}
.fifthul{
    list-style-type: none;
    margin-top:30px;

}
.fifthlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.fifthclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.fifthclear:hover{
    text-decoration: underline;
}
.fourthdiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-1450px;

}
.fourthul{
    list-style-type: none;
    margin-top:30px;

}
.fourthlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.fourthclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.fourthclear:hover{
    text-decoration: underline;
}
.thirddiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-1700px;

}
.thirdul{
    list-style-type: none;
    margin-top:30px;

}
.thirdlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.thirdclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.thirdclear:hover{
    text-decoration: underline;
}
.seconddiv{
    background-color: white;
    width: 46rem;
    height: 70px;
    border: 2px solid darkcyan;
    border-radius: 6px;
    display: flex;
    flex-flow: row;
}
.secondul{
    list-style-type: none;
    margin-top:30px;

}
.secondlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.secondclear{
    float: right;
    margin-left: 26rem;
    margin-top: 30px;
    color: darkcyan;
    text-decoration: none;

}
.secondclear:hover{
    text-decoration: underline;
}
.firstdiv{
    background-color: white;
    width: 70%;
    height:70px;
    border:2px solid darkcyan;
    border-radius:6px;
    display:flex;
    flex-flow:row;
    margin-left:220px;
    margin-top:-2050px;

}
.firstul{
    list-style-type: none;
    margin-top:30px;

}
.firstlist{
    display:inline;
    margin-left:15px;
    background-color:lightcyan;
    color:darkcyan;
    border:1px solid darkcyan;
    border-radius:3px;
}
.firstclear{
    float:right;
    margin-left:700px;
    margin-top:30px;
    color:darkcyan;
    text-decoration: none;

}
.firstclear:hover{
    text-decoration: underline;
}


.list , .list2 , .list3 , .list4 ,.list5 ,.list6 , .list7 , .list8 ,.list9 ,.list10{
    position:absolute;
    display:flex;
    flex-flow: row;
    background:white;
    width:800px;
    height: 50px;
    display:none;
    margin-bottom:40px;
    border:4px solid darkcyan;
    border-radius:20px;

}
ul{
    list-style-type: none;
    float:left;
    display:flex;
    flex-flow: row;
    margin-top:15px;
    position:absolute;
}
ul li{
    padding-left:20px;
    padding-right:20px;
    color:darkcyan;   
}
.thedisplay{
    display:inline-block;
    margin-top:-60px;
    margin-right:-20px;
}
span{
    position:absolute;
    color:darkcyan;
    font-style: italic;
    float:right;
    margin-top:15px;
    margin-left:700px;
    
}
span:hover{
    cursor:pointer;
    text-decoration: underline;
}
ul li:hover {
    background-color:darkcyan;
    color:lightcyan;
    cursor:pointer;
    border-radius: 5px;

}*/